/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --accent-color: #FF0070;
  --main-font: 'IBM Plex mono';
  --header-title: #DB00FF;
  --title-decor-color: #000028;
  --main-text: #F1B2CE;
}